@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #fff;
}

header>nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
  padding: .625rem 6.25rem;
}

nav>ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

nav ul li {
  display: inline-block;
  margin-right: 1.25rem;
  position: relative;
  text-decoration: none;
  padding-bottom: .3125rem;
  cursor: pointer;
  transition: 0.3s ease, left 0.3s ease;
}

nav ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: .125rem;
  background-color: transparent;
  transition: width 0.3s ease, left 0.3s ease;
}

nav ul li:hover::after {
  background-color: #a50034;
  width: 100%;
  left: 0;
}

main>.banner-principal {
  background-image: url(../img/anuncio-principal.svg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

main>.banner-principal>h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;

  position: absolute;
  left: 3.75rem;
  top: 34.375rem;
}

main>article {
  display: flex;
  justify-content: space-around;
  padding: 3.75rem;
}

.video-container {
  position: relative;
  width: 39.375rem;
  height: 35rem;
  overflow: hidden;
  /* Garante que o vídeo não ultrapasse o contêiner */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Redimensiona o vídeo para preencher o contêiner */
  z-index: -1;
}

.video-mask {
  align-items: center;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  width: 100%;
  height: 9.375rem;
  padding: 1.25rem;
}

.video-mask>div {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  justify-content: center;
}

.video-mask>div>h4 {
  font-size: 2rem;
}

.video-container>.video-mask {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .625rem;
}

.video-mask>div>p {
  font-size: 1.25rem;
  font-weight: 200;

}

button {
  font-size: 1.25rem;
  color: #fff;
  background: none;
  border-radius: 1.875rem;
  border: .125rem solid #fff;
  padding: .875rem 1.375rem;
  cursor: pointer;
  transition: 0.4s linear;
}

button:hover {
  background-color: #fff;
  color: #000;
}

.banner {
  position: relative;
  display: flex;
  height: auto;
}

.banner img {
  width: 100vw;
}

.banner>div {
  position: absolute;
  text-align: right;
  gap: .625rem;

  color: #fff;
  bottom: .5rem;
  right: 1rem;

  padding: 3.75rem;
}

.banner>div>h4 {
  font-size: 3.75rem;
}

.banner>div>p {
  font-size: 1.5rem;
  margin-top: .625rem;
  font-weight: 200;
}

.btn-banner {
  margin-top: 2.8125rem;
}

.icons-navigator {
  display: flex;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
}

.icons-navigator>div {
  border-radius: .625rem;
  border: .0625rem solid #fff;
  padding: 1.25rem;
}

.icons-navigator>div:hover {
  border: .0625rem solid #8b8b8b;
}

.help-section {
  padding: 0px 150px 100px 150px;
}

.help-section>div {
  display: flex;
  flex-direction: row;
}

.help-section>h3 {
  font-size: 3.125rem;
}

.help-section>p {
  font-size: 1.25rem;
  margin-top: .625rem;
  margin-bottom: 3.75rem;
}

.help-section>article {
  display: flex;
  gap: 7rem;
  justify-content: center;
}

.help-card {
  display: flex;
  flex-direction: column;
  border: .0625rem solid #000;
  border-radius: 1.25rem;
  padding: 2rem;
  transition: 0.2s ease;
}

.help-card:hover {
  transform: scale(1.01);
}

.help-card>div {
  display: flex;
  gap: 2rem;
  padding-bottom: .5rem;
  align-items: start;
  justify-content: center;
}

div>.p-help {
  display: flex;
  flex-direction: column;
  gap: .625rem;
  padding-top: 0;
}

.help-card>div>h4 {
  font-size: 2rem;
  font-weight: 300;
}

.help-card>div>p {
  font-size: .9375rem;
  font-weight: 300;
}

.help-card img {
  width: 4rem;
}

footer {
  display: flex;
  gap: 20px;
  background-color: #f0f0f0;
  padding: 1.875rem;
}

footer>.list-logo {
  width: 13vw;
  display: flex;
  flex-direction: column;
}

footer>ul {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

footer>ul>li {
  font-weight: 500;
  font-size: 1.125rem;
}

/* telas menores */

@media screen and (max-width: 37.5rem) {
  header>nav {
    gap: .625rem;
    padding: .625rem;
  }

  nav ul li {
    padding-bottom: .3125rem;
    font-size: 6px;
    text-align: center;
  }

  nav>ul>img {
    width: 3rem;
  }

  main>.banner-principal {
    background-size: contain;
    background-repeat: no-repeat;

    /* border: 1px solid; */

    width: 100%;
    height: 32vh;
  }

  main>.banner-principal>h1 {
    font-size: .75rem;

    left: 10px;
    top: 12rem;
  }

  main>article {
    display: flex;
    justify-content: space-around;
    padding: .25rem;
  }

  .video-container {
    position: relative;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    /* Garante que o vídeo não ultrapasse o contêiner */
  }

  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Redimensiona o vídeo para preencher o contêiner */
    z-index: -1;
  }

  .video-mask {
    height: 9.375rem;
    padding: .625rem;
  }

  .video-mask>div {
    gap: .625rem;
  }

  .video-mask>div>h4 {
    font-size: .625rem;
  }

  .video-container>.video-mask {
    height: 3.75rem;
    gap: 0rem;
  }

  .video-mask>div>p {
    font-size: .5rem;
  }

  button {
    font-size: .5rem;
    border-radius: .375rem;
    border: .0625rem solid #fff;
    padding: .0625rem .3125rem;
  }

  .banner img {
    width: 100vw;
  }

  .banner>div {
    gap: .625rem;
    bottom: .625rem;
    right: 1rem;

    padding: .625rem;
  }

  .banner>div>h4 {
    font-size: .875rem;
  }

  .banner>div>p {
    font-size: .625rem;
    margin-top: .625rem;
  }

  .btn-banner {
    margin-top: .625rem;
    font-size: .5rem;
    padding: .1875rem .625rem;
  }

  .icons-navigator>div {
    padding: 10px;
    font-size: 8px;
  }

  .icons-navigator > div> img {
    width: 30px;
  }

  .help-section {
    padding: 10px;
  }

  .help-section>div {
    display: flex;
    flex-direction: row;
  }

  .help-section>h3 {
    font-size: 20px;
  }

  .help-section>p {
    font-size: 10px;
    margin-top: .625rem;
    margin-bottom: 3.75rem;
  }

  .help-section>article {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .help-card {
    padding: 15px;
  }

  .help-card>div {
    gap: 1rem;
  }

  div>.p-help {
    gap: 10px;
    padding-top: 0;
  }

  .help-card>div>h4 {
    font-size: 16px;
  }

  .help-card>div>p {
    font-size: 10px;
  }

  .help-card img {
    width: 2rem;
  }
}